<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gema">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GEMA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Profil.BuatProfil"
            android:exported="true" />
        <activity
            android:name=".Profil.Grid.SearchingBook"
            android:exported="true" />
        <activity
            android:name=".Profil.Grid.MostPopular"
            android:exported="true" />
        <activity
            android:name=".Profil.Grid.MostRead"
            android:exported="true" />
        <activity
            android:name=".Profil.Grid.MyLibrary"
            android:exported="true" />
        <activity
            android:name=".Profil.ScreenMasukProfil"
            android:exported="true" />
        <activity
            android:name=".Main.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Main.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Profil.Profil"
            android:exported="true" />
        <activity
            android:name=".MenuProfil.ScreenProfilSaya"
            android:exported="true" />
        <activity
            android:name=".MenuProfil.ScreenTargetBaca"
            android:exported="true" />
        <activity
            android:name=".MenuProfil.ScreenTentangGema"
            android:exported="true" />
        <activity
            android:name=".Deskripsi.DeskripsiAntariksa"
            android:exported="true" />
        <activity
            android:name=".BacaBuku.BacaBukuAntariksa"
            android:exported="true" />
        <activity
            android:name=".Quiz.PlayQuizAntariksa"
            android:exported="true" />
        <activity
            android:name=".Quiz.QuizAntariksa"
            android:exported="true" />
        <activity
            android:name=".Quiz.QuizCeritaBinatangAsyik"
            android:exported="true" />
        <activity
            android:name=".Quiz.PlayQuizCeritaBinatangAsyik"
            android:exported="true" />
        <activity
            android:name=".BacaBuku.BacaBukuCeritaBinatangAsyik"
            android:exported="true" />
        <activity
            android:name=".Deskripsi.DeskripsiCeritaBinatangAsyik"
            android:exported="true" />
        <activity
            android:name=".Quiz.QuizDanauToba"
            android:exported="true" />
        <activity
            android:name=".Quiz.PlayQuizDanauToba"
            android:exported="true" />
        <activity
            android:name=".BacaBuku.BacaBukuDanauToba"
            android:exported="true" />
        <activity
            android:name=".Deskripsi.DeskripsiDanauToba"
            android:exported="true" />
        <activity
            android:name=".Quiz.EssayQuiz"
            android:exported="true" />
        <activity
            android:name=".Quiz.SelesaiQuiz"
            android:exported="true" />
        <activity
            android:name=".Quiz.Rating"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>