<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gema">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GEMA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="Quiz.EssayDanauToba"
            android:exported="true" />
        <activity
            android:name="Quiz.QuizDanauToba"
            android:exported="true" />
        <activity
            android:name="Quiz.PlayquizDanauToba"
            android:exported="true" />
        <activity
            android:name=".BacaBukuDanauToba"
            android:exported="true" />
        <activity
            android:name=".DeskripsiDanauToba"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Profil.BuatProfil"
            android:exported="true" />
        <activity
            android:name=".SearchingBook"
            android:exported="true" />
        <activity
            android:name=".MostPopular"
            android:exported="true" />
        <activity
            android:name=".MostRead"
            android:exported="true" />
        <activity
            android:name=".MyLibrary"
            android:exported="true" />
        <activity
            android:name=".Profil.ScreenMasukProfil"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Profil.Profil"
            android:exported="true" />
        <activity
            android:name=".MenuProfil.ScreenProfilSaya"
            android:exported="true" />
        <activity
            android:name=".MenuProfil.ScreenTargetBaca"
            android:exported="true" />
        <activity
            android:name=".MenuProfil.ScreenTentangGema"
            android:exported="true" />
        <activity
            android:name=".DeskripsiAntariksa"
            android:exported="true" />
        <activity
            android:name=".BacaBukuAntariksa"
            android:exported="true" />
        <activity
            android:name="Quiz.PlayquizAntariksa"
            android:exported="true" />
        <activity
            android:name="Quiz.QuizAntariksa"
            android:exported="true" />
        <activity
            android:name="Quiz.EssayAntariksa"
            android:exported="true" />
        <activity
            android:name="Quiz.SelesaiQuizAntariksa"
            android:exported="true" />
        <activity
            android:name=".Quiz.ScreenRating"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>